/*
selector . Es la manera en que mandamos a llamar algun elemento de html
Hay 3 tipos
1-id
2-class
3-tag html
*/

/*
Código de Jhovanni
*{
    font-family: 'Biryani', sans-serif;
}

body{
    margin: 0;
    background: #000000;

}
.header{
	width: 100%;
	display: flex; 
	justify-content: space-between;
    background-color: #fff;

}
.header__img{
    height: 60px;

}
.header__menu {
	width: 50%;

}
.header__menu ul{
	width: 100%;
	list-style-type:none;
	display: flex; 
	justify-content: space-around;
}
*/

*{
    font-family: 'Public Sans', sans-serif;
    
}

body{
    margin: 0;
    overflow-x: hidden;
}
/*
    header
*/
.header{
    background-color: #fff;
    margin: 16px;
    z-index: 999;
}
.header__img{
    height: 60px;
    float: left;
}

.header__img:hover{
    background-color: #B5B5A8;
}

.header__menu{
    float: right;
}

.header__menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

.header__menu ul li{
    padding-left: 20px;
    padding-right: 20px;
    
}

.header__menu ul li:hover{
    background-color: #B5B5A8;
}

.header__menu ul li a{
    text-decoration: none;
    color: #363622;
    font-size: 18px;
}

/*
    landingpage - section to action
*/

.to_action{
    max-height: 100vh;
}

.to_action__img{
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}

.to_action__img--layer{
    position:  absolute;
    top: 9%;
    left: 0%;
    background-color: #36362276;
    min-height: 100vh;
    width: 100vw;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.to_action__button{
    border: 8px solid #fff;
    
}

.to_action__button h1{
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #fff;
    padding: 50px;

}

.to_action__button h1:hover{
    color: #E8BE1F;
}

/* Landing Page - Section About_us */

.enterprise_info{

   /* margin-block-start: 5%; */
   margin: auto;
      
}

.enterprise_info__about_us{

    /*margin-left: 30vw; */
    margin: auto;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.enterprise_info__mv{

    display: flex;
    flex-direction: row;
}

.enterprise_info__mission{

    display: flex;
    flex-direction: column;
    justify-content: start;
    
    
}

.enterprise_info__mission hr{


}

.enterprise_info__vision{
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-content: flex-end; */
    text-align: end;
   
}

/*
.enterprise_info__line{

    border: 5px solid red;
    width: 15%;
    margin: 0;

} */







