/*
selector . Es la manera en que mandamos a llamar algun elemento de html
Hay 3 tipos
1-id
2-class
3-tag html
*/

/*
Código de Jhovanni
*{
    font-family: 'Biryani', sans-serif;
}

body{
    margin: 0;
    background: #000000;

}
.header{
	width: 100%;
	display: flex; 
	justify-content: space-between;
    background-color: #fff;

}
.header__img{
    height: 60px;

}
.header__menu {
	width: 50%;

}
.header__menu ul{
	width: 100%;
	list-style-type:none;
	display: flex; 
	justify-content: space-around;
}
*/

*{
    font-family: 'Public Sans', sans-serif;
    
}

body{
    margin: 0;
    overflow-x: hidden;
}
/*
    header
*/
.header{
    background-color: #fff;
    margin: 16px;
    z-index: 999;
}
.header__img{
    height: 60px;
    float: left;
}

.header__img:hover{
    /*background-color: #B5B5A8;*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: all 50ms;
}

.header__menu{
    float: right;
}

.header__menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

.header__menu ul li{
    padding-left: 20px;
    padding-right: 20px;
    
}

/*.header__menu ul li:hover{*/
.header__menu ul li a:hover{
    /*background-color: #B5B5A8;*/
    color: blue
}

.header__menu ul li a{
    text-decoration: none;
    color: #363622;
    font-size: 18px;
}

/*
    landingpage - section to action
*/

.to_action{
    max-height: 100vh;
}

.to_action__img{
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}

.to_action__img--layer{
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #36362276;
    min-height: 88vh;
    width: 103vw;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.to_action__button{
    margin-top: 11rem;
    border: 9px solid #fff;
    width: 29vw;
}

.to_action__button h1{
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #fff;
    padding: 50px;

}

.to_action__button h1:hover{
    color: #E8BE1F;
}

.about_us{
    display: flex;
    place-items: center;
    justify-content: center;
}

.about_us_text {
    margin-right: 10rem;
    margin-left: 10rem;
    justify-content: center;
    text-align: center
}

.enterprise_info__mission{
    display: flex;
    place-items: center;
    justify-content: left;
}

.mission{
    display: flex;
    place-items: center;
    justify-content: center;
}

.mission_text{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: black;
    height: 793px;
}

.footer_img_devom{
    width: 13rem;
    margin-left: 5rem;
    margin-top: 9rem;
    height: 9rem;
    float: left;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 200px;
    margin-right: 2rem;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 200px;
    margin-right: 2rem;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 200px;
    margin-right: 2rem;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 200px;
    margin-left: 0rem;
  }

  .footer_social_media{
    float: right;
    display: flex;
    margin-top: 7rem;
    margin-right: 9rem;
  }

  .footer_list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .footer_list_web{
    color:white;
  }

.footer_list_mobile{
    color: white;
}

.footer_list_support{
    color: white;
}

.footer_list_branding{
    color: white;
}

.footer_list_diseño{
    color: white;
}